<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" dropdown>
      <button aria-controls="dropdown-basic" class="btn btn-primary dropdown-toggle" dropdownToggle id="button-basic"
              type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul *dropdownMenu aria-labelledby="button-basic" class="dropdown-menu"
          id="dropdown-basic" role="menu">
        <li role="menuitem"><a (click)="onAddToShoppingList()" class="dropdown-item" role="button">To Shopping List</a>
        </li>
        <li role="menuitem"><a (click)="onEditRecipe()" class="dropdown-item" role="button">Edit Recipe</a></li>
        <li role="menuitem"><a class="dropdown-item" role="button">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        *ngFor="let ingredient of recipe.ingredients"
        class="list-group-item">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
